<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login to Dashboard</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/login" method="post" class="form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>

            <!-- Add the link to the home page below the login button -->
            <p>Don't have an account? <a href="{{ url_for('register') }}">Click here to register</a></p>
            <!-- Add the link to the home page -->
            <p><a href="{{ url_for('index') }}">Go back to home page</a></p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
